.shadowed-members {
  background-color: rgba(0, 0, 1, 0.7);
  z-index: 10;
  padding: 15px;
  top: 0;
  bottom:0;
  position: absolute;
  right: 0;
  left: 0;
  border-radius: 50%;

}

.members {
  background-image: url(https://unsplash.it/1600/1600/?random);
  background-size: cover;
  height: 180px;
  width: 180px;
  margin: 0px 0px ;
  position: relative;
  z-index: 5;
  margin-top: 100px;
  border-radius: 50%;

}

.description h2{
  font-weight: 500;
  color: #F7F7F7;
  font-size: 20;
}

.member-text {
   font-weight: 500;
   color: #F7F7F7
}

.avatar-bordered {
  width:40px;
  height:40px;
}

.member-user h1 {
  margin-top:170px;
  margin-right:200px;
  text-align:center;
}

