

		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Home</a>
					路
					<a href="#">Pricing</a>
					路
					<a href="#">About</a>
					路
					<a href="#">Faq</a>
					路
					<a href="#">Contact</a>
				</p>

				<p>Helpmyname &copy; 2015</p>
			</div>

		</footer>




