---
title: Contact
---



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="members">
        <div class="shadowed-members">
          <img src="http://placehold.it/50x50" class="avatar-bordered">
            <h1>Thomas Boulanger</h1>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="members">
        <div class="shadowed-members">
          <span class="member-user">
            <img src="http://objects.chopard.com/media/catalog/category/bg-red-carpet.jpg" class="avatar-bordered">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




