---
title: Le Wagon Middleman boilerplate
---

<div class="banner text-center">
  <div class"header">
    <h1>Startup tools</h1>
    <p>Very cool stuff, usefull and smart</p>
    <!-- BOUTON "get" <-->
    <a class ='btn btn-primary' href='#'>HERE</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="feature">
        <div class="best-tool" >
          <h2>
            <img src="../images/chat.png">
            Discuss best tools
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="feature">
        <div class="best-tool" >
          <h2>
            <img src="../images/heart.png">
            Always in sinc
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="feature">
        <div class="best-tool" >
          <h2>
            <img src="../images/mobile.png">
            Powerfull search
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="feature">
        <div class="best-tool" >
          <h2>
            <img src="../images/search.png">
            share the love
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="cards">
        <div class="shadowed-cards">
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar-bordered">
          </span>
          <span class="description">
            <h2>HEY</h2>
          </span>
          <span class="card-text">
            <h2>Trello</h2>
            <p>lorzeofnzeofjenz</p>
          </span>
        </div>

      </div>
    </div>

    <div class="col-xs-4">
      <div class="cards">
        <div class="shadowed-cards">
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar-bordered">
          </span>
          <span class="description">
            <h2>HEY</h2>
          </span>
          <span class="card-text">
            <h2>Trello</h2>
            <p>lorzeofnzeofjenz</p>
          </span>
        </div>

      </div>
    </div>


    <div class="col-xs-4">
      <div class="cards">
        <div class="shadowed-cards">
          <span class="card-user">
            <img src="http://placehold.it/50x50" class="avatar-bordered">
          </span>
          <span class="description">
            <h2>HEY</h2>
          </span>
          <span class="card-text">
            <h2>Trello</h2>
            <p>lorzeofnzeofjenz</p>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>




